.card {
   width: 100%;
   height: 97vh;
   background-color: chocolate;
   text-align: center;
   position: relative;
}


.text {
    font-size: 100px;
    color: #fff;
    font-family: cursive;
}

.button {
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    bottom: 100px;
    left: 700px;
    font-family: cursive;
    border: #fff;
    font-size: 1.5rem;
    border-radius: 15px;
}

.button:hover {
    color: #fff;
    background-color: rgb(92, 54, 5);
}

.button:active {
    box-shadow: 2px 3px 2px rgb(92, 54, 5) ;
}

.image {
    position: absolute;
    bottom: 200px;
    left: 600px;
}